<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Professor Registration</h2>

        <form  method="POST" action="{{ url_for('professor.professor_register') }}" >
            {% if mesage is defined and mesage %}

            <div class="alert alert-warning"> {{ mesage }}     </div>

            {% endif %}

            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="professor_name" id="professor_name" placeholder="Enter Name">
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
            </div>

            <button type="submit" class="btn btn-primary">Register</button>

            <p class="bottom">Already have an account?<a class="bottom" href="{{url_for('professor.professor_login')}}"> Login here </a></p>
        </form>
    </div>
</body>
</html>